!!! 5
- html_tag :class => 'no-js' do
  = render 'head'

  %body{ :class => "#{ controller.controller_name }" }
    = render 'chromeframe'
    = render 'header'
    = render 'flashes'

    = yield

    = render 'footer'

    -# Javascript at the bottom for fast page loading
    = render 'javascripts'
