!!! 5
-# http://paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither
- html_tag :class => "no-js", :lang => "en" do
  = render "head"

  %body{ :class => "#{ controller.controller_name }" }
    = render "chromeframe"
    = render "header"

    #main{ :role => "main" }
      = render "flashes"
      = yield

    = render "footer"

    -# Javascript at the bottom for fast page loading
    = render "javascripts"