%head
  %meta{ :charset => "utf-8" }/

  -# Use the .htaccess and remove these lines to avoid edge case issues.
  -# More info: h5bp.com/b/378
  %meta{ 'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge,chrome=1' }/

  %title
    == #{ controller.controller_name.titleize } - #{ controller.action_name.titleize }

  %meta{ :name => "description", :content => "" }/
  %meta{ :name => "author", :content => "" }/

  -# Mobile viewport optimized: h5bp.com/viewport
  %meta{ :name => "viewport", :content => "width=device-width,initial-scale=1" }/

  -# Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons

  = render "stylesheets"

  -# More ideas for your <head> here: h5bp.com/d/head-Tips

  -# All JavaScript at the bottom, except this Modernizr build incl. Respond.js
  -# Respond is a polyfill for min/max-width media queries. Modernizr enables HTML5 elements & feature detects;
  -# for optimal performance, create your own custom Modernizr build: www.modernizr.com/download/
  = javascript_include_tag "polyfills"

  = csrf_meta_tag