<!DOCTYPE html>
<%# http://paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither %>
<%= html_tag :class => "no-js", :lang => "en" %>
  <%= render "head" %>

  <body class="pages">
    <%= render "chromeframe" %>
    <%= render "header" %>

    <div id="main" role="main">
      <%= render "flashes" %>
      <%= yield %>
    </div>

    <%= render "footer" %>

    <%# Javascript at the bottom for fast page loading %>
    <%= render "javascripts" %>
  </body>
</html>