<!DOCTYPE html>
<%= html_tag :class => "no-js" %>
  <%= render "head" %>

  <body class="<%= controller.controller_name %>">
    <%= render "chromeframe" %>
    <%= render "header" %>
    <%= render "flashes" %>

    <%= yield %>

    <%= render "footer" %>

    <%# Javascript at the bottom for fast page loading %>
    <%= render "javascripts" %>
  </body>
</html>
